Source: libmapidb
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libmapidb
Vcs-Git: https://github.com/libyal/libmapidb.git

Package: libmapidb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libmapidb1
Replaces: libmapidb1
Suggests: libmapidb-dbg
Description: Library to access the Exchange MAPI database format
 libmapidb is a library to access the Exchange MAPI database format.

Package: libmapidb-dbg
Architecture: any
Section: debug
Depends: libmapidb (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libmapidb
 Debugging symbols for libmapidb.

Package: libmapidb-dev
Section: libdevel
Architecture: any
Depends: libmapidb (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libmapidb
 Header files and libraries for developing applications for libmapidb.

